
body{
  background-image: url("../Images/bgimg8.jpg");
  background-position: top;
  background-size: 1500px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  }
}
div.division-home
{
  position: relative;
}
div.wel-box
{
  position: absolute;
  top: 22%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}
pre.wel-but
{
  font-family: 'Architects Daughter', cursive;
 font-size: 40px;
}
p.wel-but-2
{
  font-family: 'Architects Daughter', cursive;
 font-size: 25px;
}
p.name
{
  font-size: 60px;
  font-family: 'Comic Neue', cursive;
}
p.occu
{
  font-size: 25px;
  font-family: 'Comic Neue', cursive;
}
div.name-box
{

  position: absolute;
  top: 65%;
  left: 75%;
  transform: translate(-50%, -50%);
}
div.occupation-box
{
  position: absolute;
  top: 73%;
  left: 75%;
  transform: translate(-50%, -50%);
  text-decoration-style: solid;
  text-align-last: center;
}
div.footer-box
{}
