body {
  scroll-behavior: smooth;
  background-size: 100%;
  background-repeat: repeat;
}

#icons {
  margin-top: 1px;
  width: 30px;
  height: 30px;
}

#icons-in-page {
  width: 20px;
  height: 20px;
}
#icons-in-page2 {
  width: 21px;
  height: 21px;
}
div.blur {
  display: block;
  margin: 50px auto;
  margin-bottom: 3cm;
  width: 21cm;
  height: 2.6cm;
  scroll-behavior: smooth;
}
div.social {
  display: block;
  margin: 100px auto;
  margin-bottom: 0cm;
  width: 2cm;
  height: 1.1cm;
  scroll-behavior: smooth;
}
hr.line {
  border: 1px solid lightgrey /*rgb(10,90,250)*/;
  border-radius: 5000px;
  margin-left: -15px;
  margin-right: -10px;
}

.home{
  width: 100%;
  height: 100%;
  background-color: red;
}
